.box {
    background-color: $box-background-color;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.box.load {
    grid-column: span 2;
}

.box.design {
    grid-column: span 2;
}
