.nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        a {
            color: #333;
            text-decoration: none;
            padding: 5px 10px;

            &.active {
                color: rgb(0, 255, 255);
            }
        }
    }
}
