.nav {
    background-color: $nav-background-color;
    padding: 10px;
    text-align: left;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li a {
    color: $li-color;
    text-decoration: none;
    padding: 5px 10px;

    .active {
        color: $active-color;
    }
}
