$font-family: 'Trocchi', sans-serif;
$font-color: #c00;
$font-alternative-color: #f90000;
$accent-color: #ee6c4d;
$background-color: #000;
$background-alternative-color: #000;

$sidebar-background-color: #333;
$sidebar-color: #8a8a8a;
$sidebar-a-color: #555;

$nav-background-color: #662929;
$li-color: #c00;
$active-color: rgb(0, 255, 255);

$box-background-color: #662929;

$pre-background-color: #790000;
$code-color: #000;
$code-background: #7f0000;
$pre-background: #7c0000;
